

body {
    box-sizing: border-box;
    background-color: var(--bg-color);
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}
canvas {
    background-color: var(--bg-color);
}

.form-container {
    padding: 1rem;
    display: flex;
    justify-content: space-around;
}

.canvas-container {
    display: flex;
    justify-content: space-around;
}

